# 0. Libraries and importing the results

In [2]:
import pandas as pd
import numpy as np

### Results of dataset 1 (v1) trained with function 1 (f1)
In this case, we have done listwise deletion (and dropped the `num_supermarkets` column), standardized the data and trained it through (normal) linear regression and cross-validation for all of the possible combinations of regressors, keeping the dummies that come from the same categorical variable as a unit.

In [132]:
df_v1_f1 = pd.read_csv('3_results_datasets/results_v1_f1.csv')

In [133]:
# We drop the "Unnamed" column
df_v1_f1 = df_v1_f1.iloc[:, 1:]
df_v1_f1

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,1,1,-72887.353362,1095.668289,3.020277,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,-67207.539006,1094.364964,8.659502,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,-73605.566615,1092.997026,6.015790,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,-71735.145687,1095.913490,6.403221,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,-76503.287626,1090.964054,6.182569,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,1,4095,-32868.036431,1095.668289,4.137512,6.951037,191.409713,-0.198877,-73.127028,0.281860,...,1.566308,2.325226,1.633878,9.325079,14.745526,14.180067,16.700338,21.229863,23.841528,28.008933
20471,2,4095,-28628.259248,1094.364964,2.333696,6.943188,193.716686,-0.747696,-71.861861,0.853376,...,2.897225,-1.550161,0.607030,8.328367,11.028851,13.318392,16.032215,21.137254,20.035575,27.038713
20472,3,4095,-28688.677815,1092.997026,3.550502,5.966965,187.615323,-0.607130,-73.201016,-0.661889,...,2.822069,0.044317,2.210887,12.850359,15.580767,17.498410,19.893393,21.648512,25.900661,26.276396
20473,4,4095,-30073.843857,1095.913490,3.479775,10.133241,189.111599,-0.777147,-72.604469,1.781139,...,6.901332,-1.681263,1.876731,5.925388,12.491495,15.559126,15.562515,20.009345,23.204202,27.475994
20474,5,4095,-29534.966508,1090.964054,1.473391,5.228586,187.441523,0.040366,-71.099071,-0.900708,...,3.874361,-0.581484,1.272616,8.227448,10.631779,11.542020,18.872133,19.660851,21.199493,25.873045

### Results of dataset 1 (v1) trained with function 3 (f3)
In this case, we have done listwise deletion (and dropped the `num_supermarkets` column), standardized the data and trained it through Group Lasso regression and cross-validation for 50 possible values of alpha (by training with Group Lasso we consider the fact that there are dummies that come from the same categorical variable).

In [134]:
df_v1_f3 = pd.read_csv('3_results_datasets/results_v1_f3.csv')

In [135]:
# We drop the "Unnamed" column
df_v1_f3 = df_v1_f3.iloc[:, 1:]
df_v1_f3

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,1,1,1.000000e-10,-32839.971871,1095.654459,3.989774,6.899135,191.305293,-0.061932,-73.081071,...,1.835862,1.112375,0.351444,8.010899,13.369688,12.813431,15.350457,19.795821,22.398702,26.550630
1,2,1,1.000000e-10,-28622.433339,1094.365696,2.225904,6.856290,193.597736,-0.641149,-71.785901,...,2.952176,-2.009024,0.097642,7.770378,10.445328,12.713772,15.426123,20.500631,19.406713,26.349387
2,3,1,1.000000e-10,-28672.473438,1092.997906,3.442484,5.893135,187.504268,-0.509325,-73.175692,...,2.701758,-0.436820,1.730359,12.269545,14.997025,16.904708,19.300742,21.059858,25.251498,25.654966
3,4,1,1.000000e-10,-30046.313274,1095.913493,3.385443,10.035561,188.987815,-0.694822,-72.613718,...,6.107404,-2.253490,1.246028,5.233418,11.785317,14.839393,14.832295,19.270785,22.411592,26.672833
4,5,1,1.000000e-10,-29533.096433,1090.964936,1.376127,5.145347,187.329020,0.000000,-71.081058,...,3.451441,-1.033628,0.767602,7.654386,10.076287,10.970915,18.265797,19.042530,20.560068,25.213676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1,50,1.000000e+00,-32755.391735,1095.668806,1.723288,5.344210,189.175873,-0.000000,-72.336827,...,0.795699,-4.349060,-5.701307,0.000000,3.689282,3.234311,5.790649,9.891265,12.526134,16.683511
246,2,50,1.000000e+00,-28733.210397,1094.402838,0.052783,5.074363,191.246933,-0.000000,-70.245929,...,1.844219,-7.417920,-5.931599,-0.000000,0.650117,2.810712,5.862533,10.865355,9.559302,16.371772
247,3,50,1.000000e+00,-28518.256439,1092.985667,1.171943,4.503993,185.194263,-0.000000,-72.178487,...,0.688683,-8.158959,-5.925210,0.032313,2.952454,4.868336,7.481378,9.452664,13.058369,13.866377
248,4,50,1.000000e+00,-29945.519506,1095.899381,1.232566,8.171181,186.814149,-0.000000,-72.348405,...,2.454676,-6.292644,-3.280528,-0.000000,3.537350,6.679376,6.457411,11.141869,13.873723,18.239609
249,5,50,1.000000e+00,-29704.388541,1091.003058,0.000000,3.366331,185.236166,0.000000,-70.554276,...,1.197460,-6.159213,-4.940629,-0.000000,0.845710,1.523343,9.003656,9.594492,11.074592,15.740733

### Results of dataset 3 (v3) trained with function 4 (f4)
In this case, we have used the whole dataset (except for the `num_supermarkets` column, which has been dropped), and applied a different transformation to the data depending on whether it is categorical (OHE) or numerical (standardization). According to this distinction, we have also applied different imputations (KNNImputer for numerical data and simple imputation of the mode, or most frequent value, to the categorical variables). After preprocessing the data in each fold, we have trained a Group Lasso regression and performed cross-validation for 50 possible values of alpha together with 50 possible values of the group regularization parameter (i.e., 2500 combinations * 5 folds = 12500 observations), calculating the MSE in each fold.

In [136]:
df_v3_f4 = pd.read_csv('3_results_datasets/results_v3_f4.csv')

In [137]:
# We drop the "Unnamed" column
df_v3_f4 = df_v3_f4.iloc[:, 1:]
df_v3_f4

,Fold,Alpha_counter,Group_reg_parameter_counter,Alpha,Group_reg_parameter,Negative MSE,Intercept,num_rooms,num_baths,square_meters,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1,1.000000e-10,1.000000e-10,-32589.422550,1057.389972,3.918880,7.122940,192.094247,...,34.900688,45.709297,57.905666,59.351899,74.874624,78.100402,2.020246,3.787784,10.172836,-2.379175
1,2,1,1,1.000000e-10,1.000000e-10,-31192.305722,1052.115499,4.473838,7.994097,193.747454,...,37.464577,37.469502,54.094525,67.882778,76.607438,76.080041,4.072244,6.428950,4.972047,-1.902880
2,3,1,1,1.000000e-10,1.000000e-10,-29808.671787,1045.733106,4.913514,6.313994,188.799860,...,39.428980,46.967489,63.474465,68.162851,71.127023,80.215674,1.907356,6.247960,5.922290,-0.795382
3,4,1,1,1.000000e-10,1.000000e-10,-30411.176379,1043.543646,4.712527,9.492475,189.696789,...,27.591633,39.705646,58.744393,61.438391,72.154339,76.644170,6.796845,5.633281,8.589245,2.868570
4,5,1,1,1.000000e-10,1.000000e-10,-31400.690535,1048.652176,3.797946,5.968631,189.547985,...,26.115347,34.295040,50.508738,65.901404,63.466656,73.053089,2.182824,7.516306,8.886926,0.791504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12495,1,50,50,1.000000e+00,1.000000e+00,-33240.190486,1099.328180,0.000000,3.630787,188.088423,...,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000
12496,2,50,50,1.000000e+00,1.000000e+00,-31887.046277,1101.577833,0.287438,4.360518,189.413712,...,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000
12497,3,50,50,1.000000e+00,1.000000e+00,-30748.101740,1097.351675,0.422808,2.757794,184.393942,...,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000
12498,4,50,50,1.000000e+00,1.000000e+00,-31079.400693,1099.536964,0.564676,5.963784,185.390515,...,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12499,5,50,50,1.000000e+00,1.000000e+00,-32523.272602,1098.842751,0.000000,2.141119,185.597456,...,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000000

### Results of dataset 3 (v3) with function 5 (f5)
Used default dataset with:
1. No `num_supermarkets` column.
2. Computed absolute value of squared meters.
3. Created feature `floor` and deleted `door`.

Function 5 applies imputations and computes all of the possible linear regressions (without regularization).

In [3]:
df_v3_f5 = pd.read_csv('3_results_datasets/results_v3_f5.csv')
# We drop the "Unnamed" column
df_v3_f5 = df_v3_f5.iloc[:, 1:]
df_v3_f5

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,-72989.051984,1099.686250,5.927694,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,-70145.790556,1101.458125,11.108159,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,-75719.267630,1097.982500,7.062621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,-74018.007181,1099.884531,9.092078,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,-75968.024362,1099.069844,8.212737,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,1,4095,-32586.625413,1058.615650,3.917668,7.126842,192.101034,-0.757726,-75.904084,-8.141981,...,33.428130,44.272879,56.444276,57.885396,73.404529,76.642061,2.013203,3.776742,10.158322,-2.401222
20471,2,4095,-31189.621399,1053.414410,4.476038,7.996682,193.742519,0.812930,-75.533129,-2.849968,...,35.992292,36.003038,52.651858,66.409417,75.126816,74.616775,4.049733,6.425065,4.969810,-1.908622
20472,3,4095,-29805.370984,1047.106412,4.916282,6.317971,188.796832,-1.523096,-76.388400,-1.363997,...,37.926515,45.501094,61.977180,66.666239,69.623761,78.723152,1.894611,6.227323,5.901172,-0.808511
20473,4,4095,-30412.817955,1044.818466,4.711976,9.492917,189.692961,-0.766892,-76.860957,1.470256,...,26.221743,38.361906,57.378565,60.068034,70.781013,75.278541,6.783332,5.619868,8.575298,2.863775
20474,5,4095,-31405.396078,1049.849450,3.797850,5.971341,189.547885,-0.095415,-75.176167,-3.414160,...,24.830778,33.015063,49.250481,64.616720,62.177033,71.770241,2.165158,7.505489,8.875008,0.785281

### Results of dataset 3 (v3) with function 6 (f6)
Used default dataset with:
1. No `num_supermarkets` column.
2. Computed absolute value of squared meters.
3. Created feature `floor` and deleted `door`.

Function 6 applies imputations and computes Lasso.

In [12]:
df_v3_f6 = pd.read_csv('3_results_datasets/results_v3_f6.csv')
# We drop the "Unnamed" column
df_v3_f6 = df_v3_f6.iloc[:, 1:]
df_v3_f6

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1.000000e-10,-32586.625413,1058.615650,3.917668,7.126842,192.101034,-0.757726,-75.904084,...,33.428130,44.272879,56.444276,57.885396,73.404529,76.642061,2.013203,3.776742,10.158322,-2.401222
1,2,1,1.000000e-10,-31189.621399,1053.414410,4.476038,7.996682,193.742519,0.812930,-75.533129,...,35.992292,36.003038,52.651858,66.409417,75.126816,74.616775,4.049733,6.425065,4.969810,-1.908622
2,3,1,1.000000e-10,-29805.370984,1047.106412,4.916282,6.317971,188.796832,-1.523096,-76.388400,...,37.926515,45.501094,61.977180,66.666239,69.623761,78.723152,1.894611,6.227323,5.901172,-0.808511
3,4,1,1.000000e-10,-30412.817955,1044.818466,4.711976,9.492917,189.692961,-0.766892,-76.860957,...,26.221743,38.361906,57.378565,60.068034,70.781013,75.278541,6.783332,5.619868,8.575298,2.863775
4,5,1,1.000000e-10,-31405.396078,1049.849450,3.797850,5.971341,189.547885,-0.095415,-75.176167,...,24.830778,33.015063,49.250481,64.616720,62.177033,71.770241,2.165158,7.505489,8.875008,0.785281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1,50,1.000000e+00,-32604.351129,1088.581253,2.884792,6.277713,191.155709,-0.000000,-75.716975,...,-0.000000,0.000000,9.460519,10.103815,25.372687,30.161026,0.000000,0.000000,5.730685,-0.000000
246,2,50,1.000000e+00,-31242.094652,1089.915224,3.381021,7.204187,192.503337,0.000000,-75.412434,...,0.000000,0.000000,9.331053,21.120634,29.966812,30.335900,0.000000,2.202022,0.801199,-0.000000
247,3,50,1.000000e+00,-29881.521004,1089.562456,3.758123,5.507426,187.578657,-0.381861,-75.710976,...,-0.000000,0.000000,12.680365,17.250843,20.419509,29.721570,0.000000,1.628526,1.271786,-0.000000
248,4,50,1.000000e+00,-30471.671817,1086.952384,3.670738,8.564819,188.503710,-0.000000,-76.605951,...,-0.000000,0.000000,14.390252,16.481862,27.912827,32.294465,1.952138,1.181696,4.143621,0.000000
249,5,50,1.000000e+00,-31657.198702,1085.735722,2.747021,5.059718,188.524121,0.000000,-74.973181,...,-0.000000,0.000000,10.840507,24.078377,21.489972,31.763198,0.000000,3.060523,4.223587,0.000000

### Results of dataset 3 (v3) with function 7 (f7)
Used default dataset with:
1. No `num_supermarkets` column.
2. Computed absolute value of squared meters.
3. Created feature `floor` and deleted `door`.

Function 7 applies imputations and computes Ridge.

In [13]:
df_v3_f7 = pd.read_csv('3_results_datasets/results_v3_f7.csv')
# We drop the "Unnamed" column
df_v3_f7 = df_v3_f7.iloc[:, 1:]
df_v3_f7

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1.000000e-10,-32586.625413,1058.615650,3.917668,7.126842,192.101034,-0.757726,-75.904084,...,33.428130,44.272879,56.444276,57.885396,73.404529,76.642061,2.013203,3.776742,10.158322,-2.401222
1,2,1,1.000000e-10,-31189.621399,1053.414410,4.476038,7.996682,193.742519,0.812930,-75.533129,...,35.992292,36.003038,52.651858,66.409417,75.126816,74.616775,4.049733,6.425065,4.969810,-1.908622
2,3,1,1.000000e-10,-29805.370984,1047.106412,4.916282,6.317971,188.796832,-1.523096,-76.388400,...,37.926515,45.501094,61.977180,66.666239,69.623761,78.723152,1.894611,6.227323,5.901172,-0.808511
3,4,1,1.000000e-10,-30412.817955,1044.818466,4.711976,9.492917,189.692961,-0.766892,-76.860957,...,26.221743,38.361906,57.378565,60.068034,70.781013,75.278541,6.783332,5.619868,8.575298,2.863775
4,5,1,1.000000e-10,-31405.396078,1049.849450,3.797850,5.971341,189.547885,-0.095415,-75.176167,...,24.830778,33.015063,49.250481,64.616720,62.177033,71.770241,2.165158,7.505489,8.875008,0.785281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1,50,1.000000e+00,-32584.184696,1059.284122,3.916763,7.128586,192.073894,-0.756566,-75.891041,...,32.634630,43.477891,55.621420,57.057030,72.547391,75.790454,2.007384,3.766623,10.142581,-2.414504
246,2,50,1.000000e+00,-31187.627056,1054.139730,4.476951,7.997505,193.708590,0.814695,-75.521024,...,35.192077,35.203529,51.839256,65.561366,74.259067,73.760643,4.033803,6.417302,4.964618,-1.913205
247,3,50,1.000000e+00,-29804.112576,1047.868965,4.916530,6.319826,188.764847,-1.520350,-76.375991,...,37.112792,44.690726,61.128867,65.811470,68.759782,77.851944,1.885387,6.210743,5.884575,-0.818417
248,4,50,1.000000e+00,-30413.765746,1045.545511,4.711312,9.492476,189.660485,-0.765057,-76.848688,...,25.487581,37.617542,56.597949,59.279474,69.975081,74.468273,6.770129,5.608413,8.560664,2.856791
249,5,50,1.000000e+00,-31408.191880,1050.519095,3.797622,5.971956,189.517791,-0.093532,-75.164653,...,24.148622,32.320110,48.544033,63.871511,61.432145,71.014211,2.153554,7.493606,8.859945,0.777938

### Results of dataset 3 (v3) with function 8 (f8)
Used default dataset with:
1. No `num_supermarkets` column.
2. Computed absolute value of squared meters.
3. Created feature `floor` and deleted `door`.

Function 8 applies imputations (median for numerical and mode for categorical) and computes linear regression.

In [3]:
df_v3_f8 = pd.read_csv('3_results_datasets/results_v3_f8.csv')
# We drop the "Unnamed" column
df_v3_f8 = df_v3_f8.iloc[:, 1:]
df_v3_f8

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,-72989.051984,1099.686250,5.927694,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,-70145.790556,1101.458125,11.108159,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,-75719.267630,1097.982500,7.062621,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,-74018.007181,1099.884531,9.092078,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,-75968.024362,1099.069844,8.212737,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,1,4095,-32452.415571,1057.070134,3.976782,6.839269,192.657693,-0.978987,-76.022831,-8.088217,...,33.492579,44.181298,56.887882,58.365522,72.921340,76.884128,2.398569,4.064126,10.355716,-2.251321
20471,2,4095,-31193.011222,1050.787805,4.288562,7.931738,194.671489,0.483221,-75.230631,-1.776336,...,36.646567,36.163698,53.583105,67.391105,75.046845,74.811854,4.232608,6.053883,5.384287,-1.848843
20472,3,4095,-29785.538590,1046.218061,4.733031,6.125433,189.445293,-1.756328,-76.351799,-1.042517,...,37.915586,44.888069,62.918897,67.505622,69.336506,78.994132,1.945725,6.003837,6.250057,-0.997016
20473,4,4095,-30364.515882,1043.114206,4.717118,9.489858,190.171410,-0.938384,-76.809406,1.862910,...,26.929488,38.164357,58.218733,60.672196,71.115293,76.292979,6.746641,5.543317,8.469710,3.092547
20474,5,4095,-31213.207884,1048.349432,3.793155,6.111537,189.929255,-0.093751,-74.999157,-2.876432,...,24.819878,31.951723,49.699456,64.527451,62.158663,71.225182,2.175615,7.534132,9.338586,1.040406

### Results of dataset 4 (v4) with function 8 (f8)
Used default dataset (but with imputed outliers in `num_rooms`, with the mean) with:
1. No `num_supermarkets` column.
2. Computed absolute value of squared meters.
3. Created feature `floor` and deleted `door`.

Function 8 applies imputations (median for numerical and mode for categorical) and computes linear regression.

In [5]:
df_v4_f8 = pd.read_csv('3_results_datasets/results_v4_f8.csv')
# We drop the "Unnamed" column
df_v4_f8 = df_v4_f8.iloc[:, 1:]
df_v4_f8

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,-72645.582001,1099.686250,17.798024,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,-69985.372982,1101.458125,21.319870,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,-75476.784039,1097.982500,18.969422,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,-73962.103178,1099.884531,20.824257,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,-75347.649281,1099.069844,16.536627,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20470,1,4095,-32107.578137,1058.344885,15.600898,6.736999,192.494831,-0.880372,-76.061736,-9.137359,...,33.827971,44.106428,56.952129,58.378583,72.390446,76.886940,2.107064,3.906826,10.273763,-2.538623
20471,2,4095,-31087.107816,1052.209791,17.346073,7.846080,194.500189,0.363171,-74.988043,-3.000922,...,36.868358,37.612424,53.104171,67.612733,76.192771,75.012855,4.304377,5.682957,5.336745,-1.933506
20472,3,4095,-29542.245272,1046.984267,16.520627,6.027764,189.327441,-1.971938,-76.227249,-2.032880,...,39.189093,45.999628,63.210959,67.785116,70.235657,79.155097,1.647823,5.301485,6.397510,-0.536725
20473,4,4095,-30124.080916,1043.414813,16.584430,9.624262,189.962911,-1.355500,-76.526701,0.895805,...,28.268473,39.267347,59.210079,62.230175,72.209402,76.916889,6.449547,5.075136,8.232104,2.946468
20474,5,4095,-30932.159180,1049.435923,16.043982,6.117468,189.857858,-0.332407,-75.110742,-3.857981,...,26.424845,32.908437,49.728541,65.587911,63.142343,71.796593,1.706518,6.970798,9.124279,0.814996

# 4. Analyzing the results

## Utilities

***The idea now would be to look for the best models (in MSE sense) for each combination (so the mean MSE across the 5 folds for the same analyzed combination), which theoretically should be the features that have the most predictive value***.

Now, we define a function to retrieve the n best-performing subsets per fold, where the input is a dataframe of results such as the ones above:

In [3]:
def top_n_per_fold(df: pd.DataFrame, source_combinations: list[str], n: int):

    """
    Retrieves the rows from the original DataFrame corresponding to the top n combinations
    with the highest mean Negative MSE.

    Parameters:
    - df (pd.DataFrame): The original DataFrame containing 'Negative MSE' and combination columns.
    - source_combinations (list of str): List of column names used to identify combinations.
    - n (int): The number of top combinations to retrieve based on the mean Negative MSE.

    Returns 3 pd.DataFrame:
    - A DataFrame containing the rows with the top N combinations by mean Negative MSE.
    - A DataFrame containing the unique combination IDs and their mean Negative MSE
    - A DataFrame with binary inclusion indicators for features in the n top combinations.
    """

    # Compute the mean MSE across folds
    df_mean_MSE = df.groupby(source_combinations)['Negative MSE'].mean().reset_index()

    # Retrieve those n observations with the highest negative MSE (i.e., lowest MSE)
    df_top_n_combinations_mean_MSE = df_mean_MSE.nlargest(n, 'Negative MSE')

    # Retrieve the ids of those observations
    df_top_n_combinations_mean_MSE_ids = df_top_n_combinations_mean_MSE[source_combinations]

    # Merge with the original DataFrame to get all rows corresponding to the top n combinations
    df_top_observations = df.merge(df_top_n_combinations_mean_MSE_ids, on = source_combinations, how = 'inner')

    # Identify feature columns
    feature_columns = [
        col for col in df.columns if col not in source_combinations + ['Fold', 'Negative MSE', 'Alpha', 'Group_reg_parameter', 'Intercept']
        ]
    
    # Create a list to hold the inclusion status for each feature in each combination
    inclusion_status_list = []

    # We iterate over the values of the rows (ignoring the index)
    for _, row in df_top_observations.iterrows():
        # Create a dictionary to hold inclusion status for each feature, where
        # we don't include coefficients with NaN or numerically insignificant
        inclusion_status = {col: 1 if (not pd.isna(row[col]) and round(abs(row[col]), 4) > 0) else 0 for col in feature_columns}
        inclusion_status_list.append(inclusion_status)

    # Convert the inclusion status list to a DataFrame
    inclusion_df = pd.DataFrame(inclusion_status_list)

    # Returns the data frame with the top results, the mean MSE of the top combinations, and the inclusion DataFrame
    return df_top_observations, df_top_n_combinations_mean_MSE, inclusion_df

## Setting n (the number of combinations we want to retrieve)

In [4]:
my_n = 3

## Analyzing each dataset individually

### v1_f1

In [140]:
best_v1_f1, best_mean_MSE_v1_f1, included_v1_f1 = top_n_per_fold(df = df_v1_f1, source_combinations = ['Combination ID'], n = my_n)
best_v1_f1

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,1,1166,-32706.085904,1095.668289,NaN,6.998813,191.446174,NaN,-74.657033,NaN,...,NaN,2.219936,1.322996,9.130295,14.530080,14.077876,16.411722,20.730999,23.705118,27.694235
1,2,1166,-28544.565481,1094.364964,NaN,6.928640,193.671511,NaN,-73.118289,NaN,...,NaN,-1.557555,0.409312,8.178151,10.789865,13.267219,15.883560,20.854962,19.943967,26.803816
2,3,1166,-28538.010830,1092.997026,NaN,6.006688,187.634263,NaN,-75.029836,NaN,...,NaN,-0.119892,2.209905,12.502006,15.377535,17.341677,19.659154,21.711197,25.843086,26.130547
3,4,1166,-29875.351859,1095.913490,NaN,10.138968,189.160049,NaN,-75.095679,NaN,...,NaN,-1.712311,1.640404,5.515219,12.115246,15.289388,15.080910,19.958536,22.801761,27.001809
4,5,1166,-29399.719705,1090.964054,NaN,5.227457,187.440537,NaN,-73.146791,NaN,...,NaN,-0.718014,1.181252,7.853837,10.467439,11.379370,18.676546,19.377088,21.011095,25.722938
5,1,2062,-32705.074633,1095.668289,NaN,6.998036,191.439256,-0.195249,-74.654361,NaN,...,NaN,2.224150,1.320195,9.130574,14.536223,14.078676,16.415449,20.737026,23.708952,27.699906
6,2,2062,-28546.400829,1094.364964,NaN,6.924687,193.665045,-0.904288,-73.109502,NaN,...,NaN,-1.537942,0.375502,8.190032,10.809343,13.275503,15.902609,20.871153,19.953961,26.827075
7,3,2062,-28538.094018,1092.997026,NaN,6.026924,187.621568,-0.797334,-75.023109,NaN,...,NaN,-0.095012,2.196682,12.503122,15.394143,17.352042,19.688894,21.732023,25.855826,26.151116
8,4,2062,-29877.175118,1095.913490,NaN,10.125303,189.143920,-0.985065,-75.070646,NaN,...,NaN,-1.680699,1.609434,5.527343,12.142268,15.298669,15.103940,19.993173,22.830642,27.032653
9,5,2062,-29399.311131,1090.964054,NaN,5.228057,187.438693,-0.067667,-73.145675,NaN,...,NaN,-0.716126,1.178815,7.854541,10.468793,11.379838,18.677739,19.379772,21.013271,25.724527
10,1,2122,-32704.903206,1095.668289,NaN,6.978359,191.522416,NaN,-74.597050,NaN,...,NaN,2.184751,1.375681,9.146610,14.528822,14.056013,16.503913,20.718716,23.708482,27.754850
11,2,2122,-28530.619294,1094.364964,NaN,6.889008,193.724623,NaN,-73.109202,NaN,...,NaN,-1.533095,0.440927,8.178405,10.801823,13.266501,15.935547,20.829795,19.938438,26.855520
12,3,2122,-28523.806816,1092.997026,NaN,6.016755,187.707456,NaN,-74.979018,NaN,...,NaN,-0.099434,2.230106,12.537086,15.404428,17.366219,19.716965,21.725470,25.858768,26.197543
13,4,2122,-29859.368548,1095.913490,NaN,10.147434,189.206340,NaN,-75.045519,NaN,...,NaN,-1.689438,1.672998,5.551247,12.130545,15.314606,15.168527,19.977617,22.824721,27.034192
14,5,2122,-29452.611727,1090.964054,NaN,5.204093,187.519152,NaN,-73.007068,NaN,...,NaN,-0.709791,1.281865,7.916928,10.512992,11.410492,18.881638,19.384519,20.990316,25.827790

In [141]:
best_mean_MSE_v1_f1

      Combination ID  Negative MSE
1165            1166 -29812.746756
2061            2062 -29813.211145
2121            2122 -29814.261918

In [142]:
included_v1_f1

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,0,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
1,0,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
2,0,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
3,0,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
4,0,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
5,0,1,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
6,0,1,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
7,0,1,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
8,0,1,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
9,0,1,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
10,0,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
11,0,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
12,0,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
13,0,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
14,0,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1

In [184]:
total_inclusions_v1_f1 = included_v1_f1.sum()
total_inclusions_v1_f1

num_rooms                            0
num_baths                           15
square_meters                       15
year_built                           5
num_crimes                          15
is_furnished                         0
has_pool                             5
has_ac                              15
accepts_pets                         0
orientation_north                    0
orientation_south                    0
orientation_west                     0
neighborhood_Eixample                0
neighborhood_Gr√†cia                  0
neighborhood_Horta                   0
neighborhood_Les Cors                0
neighborhood_Nou Barris              0
neighborhood_Sant Andreu             0
neighborhood_Sant Mart√≠              0
neighborhood_Sants                   0
neighborhood_Sarri√†-Sant Gervasi     0
floor_2                             15
floor_3                             15
floor_4                             15
floor_5                             15
floor_6                             15
floor_7                             15
floor_8                             15
floor_9                             15
floor_10                            15
dtype: int64

### v1_f3

In [143]:
best_v1_f3, best_mean_MSE_v1_f3, included_v1_f3 = top_n_per_fold(df = df_v1_f3, source_combinations = ['Alpha_counter'], n = my_n)
best_v1_f3

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,1,47,0.244205,-32778.233659,1095.667347,3.414425,6.525065,190.767123,-0.000000,-73.008668,...,1.775800,-0.144016,-1.041602,5.773439,11.094820,10.561090,13.123467,17.444460,20.111788,24.236885
1,2,47,0.244205,-28610.670570,1094.365631,1.685927,6.439277,193.010431,-0.142988,-71.248245,...,2.957278,-3.871291,-1.940507,4.817456,7.472648,9.683997,12.508993,17.554935,16.395214,23.318937
2,3,47,0.244205,-28600.811004,1092.996428,2.892676,5.550946,186.943482,-0.006639,-73.002969,...,1.842278,-2.442663,-0.200932,9.184038,11.946795,13.874368,16.339831,18.154611,22.161376,22.703741
3,4,47,0.244205,-30007.742912,1095.913342,2.847238,9.602857,188.440881,-0.262491,-72.619743,...,4.521641,-3.955814,-0.594839,2.391625,9.014832,12.085156,12.020229,16.517746,19.522104,23.835189
4,5,47,0.244205,-29553.596739,1090.964447,0.851626,4.733518,186.826899,0.000000,-70.915187,...,2.988969,-2.824120,-1.200500,4.694414,7.254464,8.063224,15.436521,16.144169,17.633572,22.313956
5,1,48,0.390694,-32757.811570,1095.668993,3.070302,6.317185,190.448161,-0.000000,-72.933828,...,1.610790,-1.256827,-2.260423,4.043412,9.344722,8.824474,11.393569,15.647430,18.323363,22.452546
6,2,48,0.390694,-28627.615402,1094.366255,1.354611,6.195584,192.650440,-0.000000,-70.963974,...,2.809312,-5.291093,-3.501824,2.717290,5.353700,7.525667,10.426496,15.465349,14.250064,21.165839
7,3,48,0.390694,-28567.908565,1092.997891,2.561704,5.347098,186.597260,-0.000000,-72.858507,...,1.501111,-3.581435,-1.318145,7.381154,10.178139,12.107629,14.616718,16.464836,20.371950,20.983005
8,4,48,0.390694,-30019.961221,1095.942824,2.501099,9.353722,188.094090,-0.000000,-72.676888,...,3.993212,-5.500123,-2.244922,0.127632,6.794816,9.870938,9.789356,14.282557,17.223071,21.568394
9,5,48,0.390694,-29578.478530,1090.964102,0.532903,4.488384,186.515978,0.000000,-70.873158,...,2.637383,-3.884444,-2.373084,2.939791,5.566880,6.338800,13.749040,14.418537,15.904476,20.583361
10,1,49,0.625055,-32750.243452,1095.666580,2.530432,5.975836,189.949978,-0.000000,-72.798236,...,1.245023,-3.014017,-4.194692,1.287796,6.557100,6.059448,8.630063,12.808063,15.458109,19.607582
11,2,49,0.625055,-28663.637002,1094.363778,0.837224,5.794417,192.093017,-0.000000,-70.639263,...,2.442453,-6.644839,-5.015705,0.355814,2.960516,5.107959,8.093029,13.117042,11.845654,18.731455
12,3,49,0.625055,-28533.819267,1092.997694,2.032708,5.021260,186.046508,-0.000000,-72.604681,...,1.128144,-5.404413,-3.147769,4.481921,7.333210,9.258774,11.812719,13.715373,17.496559,18.184589
13,4,49,0.625055,-29983.391729,1095.899724,2.028709,8.912799,187.606505,-0.000000,-72.652270,...,3.277132,-5.665054,-2.507224,0.000000,5.691338,8.783620,8.630715,13.217717,16.063510,20.421570
14,5,49,0.625055,-29635.573754,1090.967832,0.023775,4.097721,186.024450,0.000000,-70.804420,...,2.073878,-5.522475,-4.195387,0.188176,2.921112,3.631377,11.094985,11.711590,13.192589,17.864932

Note how the best MSE is when alpha is set very high and close to 1, so it is setting a very high penalty to the coefficients!

In [144]:
best_mean_MSE_v1_f3

    Alpha_counter  Negative MSE
46             47 -29910.210977
47             48 -29910.355057
48             49 -29913.333041

In [145]:
included_v1_f3

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9,floor_10
0,1,1,1,0,1,0,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,0,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
5,1,1,1,0,1,0,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
6,1,1,1,0,1,0,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
7,1,1,1,0,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
8,1,1,1,0,1,1,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
9,1,1,1,0,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
10,1,1,1,0,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
11,1,1,1,0,1,0,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
12,1,1,1,0,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
13,1,1,1,0,1,1,1,1,1,0,...,1,1,1,0,1,1,1,1,1,1
14,1,1,1,0,1,0,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1

In [183]:
total_inclusions_v1_f3 = included_v1_f3.sum()
total_inclusions_v1_f3

num_rooms                           15
num_baths                           15
square_meters                       15
year_built                           3
num_crimes                          15
is_furnished                         7
has_pool                            15
has_ac                              15
accepts_pets                         4
orientation_north                    8
orientation_south                   10
orientation_west                     5
neighborhood_Eixample                7
neighborhood_Gr√†cia                 13
neighborhood_Horta                  14
neighborhood_Les Cors               13
neighborhood_Nou Barris             11
neighborhood_Sant Andreu            10
neighborhood_Sant Mart√≠             11
neighborhood_Sants                  15
neighborhood_Sarri√†-Sant Gervasi    15
floor_2                             15
floor_3                             15
floor_4                             14
floor_5                             15
floor_6                             15
floor_7                             15
floor_8                             15
floor_9                             15
floor_10                            15
dtype: int64

### v3_f4

In [146]:
best_v3_f4, best_mean_MSE_v3_f4, included_v3_f4 = top_n_per_fold(df = df_v3_f4, source_combinations = ['Alpha_counter', 'Group_reg_parameter_counter'], n = my_n)
best_v3_f4

,Fold,Alpha_counter,Group_reg_parameter_counter,Alpha,Group_reg_parameter,Negative MSE,Intercept,num_rooms,num_baths,square_meters,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,45,3,0.09541,2.559548e-10,-32522.469956,1064.187790,3.664560,6.975177,191.927711,...,20.034693,31.336964,43.297020,44.665786,60.020642,63.724002,1.067027,2.884723,9.336515,-1.959816
1,2,45,3,0.09541,2.559548e-10,-31144.794594,1067.311425,4.280151,7.851544,193.463214,...,19.121244,19.203934,36.217651,49.552090,58.236745,58.117274,3.071641,5.546378,4.184426,-1.385663
2,3,45,3,0.09541,2.559548e-10,-29756.725869,1057.572725,4.700681,6.161378,188.548788,...,25.451587,33.440913,49.694407,54.253775,57.339545,66.545528,0.946858,5.276759,4.990567,-0.192541
3,4,45,3,0.09541,2.559548e-10,-30408.681294,1058.649057,4.511857,9.319314,189.419904,...,13.291395,25.691809,44.437741,46.945982,57.905695,62.407848,5.779668,4.691036,7.690403,2.039235
4,5,45,3,0.09541,2.559548e-10,-31459.401915,1060.977657,3.575779,5.845888,189.356640,...,12.959715,21.389959,37.792616,52.835040,50.327379,60.188177,1.190797,6.596972,7.908937,0.000000
5,1,45,13,0.09541,2.811769e-08,-32522.464832,1064.191852,3.664580,6.975233,191.927730,...,20.029878,31.331636,43.290805,44.659487,60.014925,63.718237,1.067034,2.884792,9.336353,-1.959883
6,2,45,13,0.09541,2.811769e-08,-31144.798311,1067.312215,4.280149,7.851554,193.463209,...,19.120140,19.203641,36.216927,49.551097,58.235637,58.116204,3.071601,5.546368,4.184427,-1.385695
7,3,45,13,0.09541,2.811769e-08,-29756.711264,1057.576424,4.700670,6.161399,188.548777,...,25.446847,33.436745,49.690291,54.249657,57.335465,66.541450,0.946931,5.276744,4.990362,-0.192546
8,4,45,13,0.09541,2.811769e-08,-30408.682131,1058.648160,4.511850,9.319339,189.419906,...,13.288451,25.692486,44.439806,46.947524,57.907297,62.409672,5.779762,4.691039,7.690376,2.039356
9,5,45,13,0.09541,2.811769e-08,-31459.397214,1060.976313,3.575772,5.845889,189.356643,...,12.960758,21.391298,37.794001,52.836527,50.328946,60.189753,1.190813,6.596983,7.908946,0.000000
10,1,45,24,0.09541,4.941713e-06,-32522.453451,1064.187765,3.664552,6.975184,191.927704,...,20.034021,31.336375,43.295831,44.664604,60.020085,63.723132,1.067067,2.884766,9.336437,-1.959788
11,2,45,24,0.09541,4.941713e-06,-31144.813528,1067.317136,4.280128,7.851576,193.463163,...,19.114145,19.196914,36.210873,49.544971,58.229837,58.109975,3.071667,5.546490,4.184272,-1.385672
12,3,45,24,0.09541,4.941713e-06,-29756.732824,1057.571191,4.700685,6.161351,188.548782,...,25.453537,33.442754,49.696368,54.255764,57.341585,66.547649,0.946884,5.276779,4.990576,-0.192509
13,4,45,24,0.09541,4.941713e-06,-30408.640084,1058.641920,4.511867,9.319296,189.419892,...,13.296613,25.699439,44.447083,46.955017,57.914605,62.416901,5.779771,4.691032,7.690580,2.039320
14,5,45,24,0.09541,4.941713e-06,-31459.414648,1060.980841,3.575777,5.845881,189.356625,...,12.956819,21.386847,37.789364,52.831556,50.323824,60.184485,1.190757,6.596938,7.908883,0.000000

In [147]:
best_mean_MSE_v3_f4

      Alpha_counter  Group_reg_parameter_counter  Negative MSE
2212             45                           13 -31058.410750
2223             45                           24 -31058.410907
2202             45                            3 -31058.414726

In [148]:
included_v3_f4

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,0,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,0,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,0
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,0,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
9,1,1,1,0,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,0
10,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
11,1,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,0,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
13,1,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,1,1,1,1
14,1,1,1,0,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,0

In [185]:
total_inclusions_v3_f4 = included_v3_f4.sum()
total_inclusions_v3_f4

num_rooms                           15
num_baths                           15
square_meters                       15
year_built                          12
num_crimes                          15
is_furnished                         9
has_pool                             6
has_ac                               9
accepts_pets                         9
orientation_north                    9
orientation_south                   12
orientation_west                    12
neighborhood_Eixample                3
neighborhood_Gr√†cia                 12
neighborhood_Horta                  15
neighborhood_Les Cors               12
neighborhood_Nou Barris              3
neighborhood_Sant Andreu            15
neighborhood_Sant Mart√≠             15
neighborhood_Sants                   3
neighborhood_Sarri√†-Sant Gervasi    15
floor_10                            15
floor_2                             15
floor_3                             15
floor_4                             15
floor_5                             15
floor_6                             15
floor_7                             15
floor_8                             15
floor_9                             12
dtype: int64

### v3_f5

In [8]:
best_v3_f5, best_mean_MSE_v3_f5, included_v3_f5 = top_n_per_fold(df = df_v3_f5, source_combinations = ['Combination ID'], n = my_n)
best_v3_f5

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1348,-32628.913016,1049.045105,NaN,NaN,191.839877,-1.144816,-76.734550,NaN,...,NaN,1.185763,11.519555,33.078616,43.269657,56.186472,58.108934,71.444056,76.519270,10.906385
1,2,1348,-31147.543865,1053.323772,NaN,NaN,194.179529,0.693647,-76.314671,NaN,...,NaN,-3.409924,15.571468,36.881869,34.190112,53.122180,64.693238,74.849804,74.555880,5.795664
2,3,1348,-29888.884556,1048.356118,NaN,NaN,188.782383,-1.761147,-75.919237,NaN,...,NaN,-3.908741,10.672767,37.528360,43.795161,62.998082,65.958680,70.231920,78.727971,6.813184
3,4,1348,-29952.069730,1052.843753,NaN,NaN,189.612886,-1.294295,-77.254631,NaN,...,NaN,-7.468853,12.713066,27.409664,38.116574,57.334378,60.522028,72.856446,76.938706,7.873990
4,5,1348,-31337.901355,1056.381687,NaN,NaN,188.986451,0.075176,-75.298422,NaN,...,NaN,-8.029774,4.945411,23.506039,29.777804,47.817237,62.064867,60.658768,70.617300,9.531663
5,1,2318,-32607.871360,1046.911108,NaN,NaN,191.875556,-1.099956,-76.726854,NaN,...,NaN,11.744975,33.201930,43.343415,56.087534,58.267150,71.493264,76.660276,4.006854,10.896150
6,2,2318,-31143.006741,1050.142659,NaN,NaN,194.220597,0.803523,-76.349116,NaN,...,NaN,15.831383,36.837400,34.267678,53.043456,64.800551,74.766116,74.557089,6.125558,5.823651
7,3,2318,-29882.364262,1045.345590,NaN,NaN,188.838434,-1.662509,-75.889720,NaN,...,NaN,10.952949,37.800602,44.046259,63.020653,66.149650,70.369124,78.920593,5.438585,6.809204
8,4,2318,-29938.730595,1050.205142,NaN,NaN,189.624601,-1.232683,-77.242699,NaN,...,NaN,12.927557,27.542018,38.223606,57.282444,60.766527,72.907073,77.124059,4.924383,7.879361
9,5,2318,-31360.598707,1052.223326,NaN,NaN,189.018847,0.137195,-75.244862,NaN,...,NaN,5.296247,23.649736,29.987712,47.735215,62.437186,60.793365,70.673963,7.680633,9.582590
10,1,3185,-32599.457311,1045.806530,NaN,NaN,191.863199,-1.114057,-76.734510,88.063068,...,NaN,33.174438,43.369107,56.146698,58.345268,71.520867,76.672565,2.283487,4.009669,10.918997
11,2,3185,-31149.030793,1048.036266,NaN,NaN,194.213574,0.765032,-76.350637,87.668885,...,NaN,36.999141,34.311208,53.336508,65.072377,74.965871,74.675890,4.079498,6.128374,5.841761
12,3,3185,-29874.523393,1044.556725,NaN,NaN,188.828718,-1.671566,-75.898878,83.093140,...,NaN,37.828019,44.060325,63.073352,66.255558,70.410909,78.933297,1.573497,5.440487,6.830505
13,4,3185,-29980.382222,1046.708494,NaN,NaN,189.625210,-1.233238,-77.233565,83.305746,...,NaN,27.681085,38.286517,57.796342,61.123471,73.076668,77.281288,6.944340,4.917302,7.975927
14,5,3185,-31350.629122,1050.743526,NaN,NaN,189.008874,0.128818,-75.251033,80.141359,...,NaN,23.762909,30.062591,47.927577,62.630003,60.878451,70.731608,2.871022,7.656596,9.638475

In [9]:
best_mean_MSE_v3_f5

      Combination ID  Negative MSE
2317            2318 -30986.514333
3184            3185 -30990.804568
1347            1348 -30991.062504

In [10]:
included_v3_f5

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,0,0,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
1,0,0,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
2,0,0,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
3,0,0,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
4,0,0,1,1,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
5,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
6,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
7,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
8,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
9,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
10,0,0,1,1,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
11,0,0,1,1,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
12,0,0,1,1,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
13,0,0,1,1,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
14,0,0,1,1,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1

In [11]:
total_inclusions_v3_f5 = included_v3_f5.sum()
total_inclusions_v3_f5

num_rooms                            0
num_baths                            0
square_meters                       15
year_built                          15
num_crimes                          15
is_furnished                         5
has_pool                            10
has_ac                              15
accepts_pets                         0
orientation_north                    0
orientation_south                    0
orientation_west                     0
neighborhood_Eixample                0
neighborhood_Gr√†cia                  0
neighborhood_Horta                   0
neighborhood_Les Cors                0
neighborhood_Nou Barris              0
neighborhood_Sant Andreu             0
neighborhood_Sant Mart√≠              0
neighborhood_Sants                   0
neighborhood_Sarri√†-Sant Gervasi     0
floor_10                            15
floor_2                             15
floor_3                             15
floor_4                             15
floor_5                             15
floor_6                             15
floor_7                             15
floor_8                             15
floor_9                             15
dtype: int64

### v3_f6

In [14]:
best_v3_f6, best_mean_MSE_v3_f6, included_v3_f6 = top_n_per_fold(df = df_v3_f6, source_combinations = ['Alpha_counter'], n = my_n)
best_v3_f6

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,45,0.095410,-32546.061069,1062.351279,3.786738,7.051360,192.026203,-0.643094,-75.970187,...,25.013988,36.084704,48.139336,49.531379,64.972411,68.454680,1.525927,3.318033,9.744439,-2.202979
1,2,45,0.095410,-31160.445559,1060.252522,4.378194,7.924569,193.596459,0.727340,-75.597894,...,27.542399,27.586358,44.424374,57.988036,66.674644,66.394338,3.562174,5.971729,4.567037,-1.660427
2,3,45,0.095410,-29778.288370,1054.523825,4.819487,6.244652,188.671813,-1.412624,-76.254557,...,29.363800,37.166430,53.516466,58.129652,61.152007,70.329355,1.391132,5.702763,5.432108,-0.520097
3,4,45,0.095410,-30412.415785,1054.029302,4.619630,9.400694,189.542005,-0.659802,-76.989768,...,17.829964,30.108144,48.993496,51.596322,62.406944,66.938431,6.265888,5.115629,8.106641,2.440034
4,5,45,0.095410,-31437.224236,1056.434266,3.689781,5.904834,189.449214,-0.000000,-75.296252,...,17.564605,25.861455,42.189817,57.373501,54.908333,64.657217,1.653439,7.031064,8.394318,0.290108
5,1,46,0.152642,-32531.306234,1064.666094,3.711402,7.008995,191.974055,-0.573049,-76.040841,...,20.661769,31.896229,43.876275,45.253573,60.642146,64.254793,1.245492,3.047849,9.486734,-2.077322
6,2,46,0.152642,-31148.136923,1064.423552,4.321662,7.879521,193.518384,0.668856,-75.644028,...,22.548814,22.612387,39.539337,52.983997,61.670703,61.491502,3.264958,5.707595,4.343625,-1.500573
7,3,46,0.152642,-29763.419740,1056.965065,4.747777,6.197363,188.595743,-1.341469,-76.199080,...,26.242627,34.186569,50.450981,55.029728,58.087184,67.293864,1.120111,5.438889,5.153588,-0.329991
8,4,46,0.152642,-30413.135250,1057.861779,4.555100,9.351793,189.465466,-0.588879,-76.999160,...,14.005997,26.363426,45.141047,47.680849,58.583758,63.097484,5.962550,4.850941,7.844321,2.196694
9,5,46,0.152642,-31449.807491,1059.275378,3.619722,5.872984,189.392629,-0.000000,-75.382782,...,14.683520,23.074325,39.444740,54.540818,52.043786,61.868431,1.373309,6.772784,8.095255,0.006748
10,1,47,0.244205,-32512.509389,1065.687131,3.611299,6.949795,191.866853,-0.441816,-76.063445,...,16.794084,28.281366,40.155124,41.476585,56.788562,60.630019,0.825532,2.670572,9.054143,-1.821192
11,2,47,0.244205,-31140.799793,1068.464564,4.214772,7.810117,193.392980,0.597057,-75.681320,...,17.355594,17.450421,34.528431,47.782791,56.472314,56.424661,2.852704,5.340260,3.958738,-1.213254
12,3,47,0.244205,-29744.064681,1061.053027,4.627820,6.126137,188.477416,-1.232753,-76.129046,...,21.458798,29.657538,45.781361,50.350786,53.438186,62.656747,0.685727,5.012142,4.699512,-0.024130
13,4,47,0.244205,-30414.505299,1061.517735,4.442126,9.283708,189.357646,-0.460491,-77.072235,...,10.178126,22.665497,41.272744,43.733016,54.761563,59.253740,5.516562,4.465112,7.423572,1.815820
14,5,47,0.244205,-31484.362178,1064.871567,3.514033,5.807344,189.308257,-0.000000,-75.462488,...,8.678440,17.173582,33.643105,48.580460,46.062043,55.970146,0.907748,6.340688,7.640125,0.000000

In [15]:
best_mean_MSE_v3_f6

    Alpha_counter  Negative MSE
46             47 -31059.248268
45             46 -31061.161128
44             45 -31066.887004

### v3_f7

In [16]:
best_v3_f7, best_mean_MSE_v3_f7, included_v3_f7 = top_n_per_fold(df = df_v3_f7, source_combinations = ['Alpha_counter'], n = my_n)
best_v3_f7

,Fold,Alpha_counter,Alpha,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,48,0.390694,-32585.652598,1058.879521,3.917312,7.127532,192.090444,-0.757266,-75.898987,...,33.114858,43.959101,56.119554,57.558505,73.066385,76.306099,2.010913,3.772764,10.152138,-2.406460
1,2,48,0.390694,-31188.822133,1053.700701,4.476400,7.997010,193.729251,0.813626,-75.528401,...,35.676359,35.687398,52.331142,66.074778,74.784464,74.278993,4.043458,6.422022,4.967776,-1.910426
2,3,48,0.390694,-29804.858091,1047.407382,4.916385,6.318704,188.784328,-1.522012,-76.383557,...,37.605277,45.181235,61.642426,66.328960,69.282869,78.379451,1.890979,6.220799,5.894640,-0.812411
3,4,48,0.390694,-30413.179735,1045.105377,4.711715,9.492746,189.680263,-0.766164,-76.856164,...,25.931851,38.068075,57.070516,59.756868,70.463052,74.958896,6.778142,5.615362,8.569549,2.861035
4,5,48,0.390694,-31406.488636,1050.113714,3.797760,5.971587,189.536126,-0.094669,-75.171673,...,24.561440,32.740733,48.971697,64.322728,61.883161,71.472023,2.160585,7.500822,8.869095,0.782397
5,1,49,0.625055,-32585.081008,1059.036132,3.917100,7.127940,192.084083,-0.756994,-75.895930,...,32.928956,43.772849,55.926771,57.364431,72.865569,76.106578,2.009550,3.770393,10.148450,-2.409572
6,2,49,0.625055,-31188.355176,1053.870631,4.476614,7.997202,193.721299,0.814040,-75.525564,...,35.488884,35.500088,52.140762,65.876092,74.581162,74.078413,4.039725,6.420203,4.966559,-1.911500
7,3,49,0.625055,-29804.563631,1047.586036,4.916443,6.319139,188.776832,-1.521368,-76.380648,...,37.414636,44.991379,61.443679,66.128700,69.080451,78.175337,1.888818,6.216914,5.890751,-0.814732
8,4,49,0.625055,-30413.402068,1045.275713,4.711560,9.492642,189.672652,-0.765734,-76.853289,...,25.759851,37.893683,56.887629,59.572120,70.274233,74.769060,6.775048,5.612678,8.566120,2.859398
9,5,49,0.625055,-31407.143894,1050.270602,3.797707,5.971731,189.529073,-0.094228,-75.168975,...,24.401624,32.577917,48.806187,64.148134,61.708644,71.294894,2.157866,7.498037,8.865565,0.780676
10,1,50,1.000000,-32584.184696,1059.284122,3.916763,7.128586,192.073894,-0.756566,-75.891041,...,32.634630,43.477891,55.621420,57.057030,72.547391,75.790454,2.007384,3.766623,10.142581,-2.414504
11,2,50,1.000000,-31187.627056,1054.139730,4.476951,7.997505,193.708590,0.814695,-75.521024,...,35.192077,35.203529,51.839256,65.561366,74.259067,73.760643,4.033803,6.417302,4.964618,-1.913205
12,3,50,1.000000,-29804.112576,1047.868965,4.916530,6.319826,188.764847,-1.520350,-76.375991,...,37.112792,44.690726,61.128867,65.811470,68.759782,77.851944,1.885387,6.210743,5.884575,-0.818417
13,4,50,1.000000,-30413.765746,1045.545511,4.711312,9.492476,189.660485,-0.765057,-76.848688,...,25.487581,37.617542,56.597949,59.279474,69.975081,74.468273,6.770129,5.608413,8.560664,2.856791
14,5,50,1.000000,-31408.191880,1050.519095,3.797622,5.971956,189.517791,-0.093532,-75.164653,...,24.148622,32.320110,48.544033,63.871511,61.432145,71.014211,2.153554,7.493606,8.859945,0.777938

In [17]:
best_mean_MSE_v3_f7

    Alpha_counter  Negative MSE
49             50 -31079.576391
48             49 -31079.709155
47             48 -31079.800239

### v3_f8

In [6]:
best_v3_f8, best_mean_MSE_v3_f8, included_v3_f8 = top_n_per_fold(df = df_v3_f8, source_combinations = ['Combination ID'], n = my_n)
best_v3_f8

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,2584,-32295.295502,1045.779431,3.902058,6.853949,192.604081,NaN,-76.844974,NaN,...,NaN,12.906397,33.430785,43.952511,56.763278,58.108735,72.356414,77.466817,4.161234,10.341030
1,2,2584,-31102.268757,1049.453977,4.254892,7.971031,194.684559,NaN,-76.193684,NaN,...,NaN,16.086355,36.275603,35.737655,53.044719,66.960348,74.917417,75.060756,5.959637,5.334719
2,3,2584,-29712.213418,1045.179435,4.682422,6.087923,189.458030,NaN,-76.597727,NaN,...,NaN,9.686343,37.163876,44.213142,62.366089,66.769794,68.910562,78.661331,6.063669,6.305562
3,4,2584,-30258.051196,1049.325115,4.824408,9.496081,190.111379,NaN,-77.547050,NaN,...,NaN,12.537678,26.842038,37.881582,57.462489,60.009717,70.897306,76.042184,5.481011,8.460564
4,5,2584,-31166.811340,1050.337628,3.835114,6.130851,189.920938,NaN,-75.683944,NaN,...,NaN,6.352605,24.707316,31.972481,49.555053,64.410969,61.757868,71.238108,7.472673,9.203819
5,1,3320,-32296.694428,1045.786536,3.898207,6.851007,192.577859,-0.881659,-76.842548,NaN,...,NaN,12.861572,33.436210,43.987994,56.754848,58.140616,72.410678,77.464464,4.123360,10.329535
6,2,3320,-31107.990206,1049.430706,4.260080,7.969577,194.691741,0.540820,-76.192433,NaN,...,NaN,16.143112,36.266132,35.727182,53.058250,66.923981,74.890041,75.051107,5.997507,5.361175
7,3,3320,-29727.476671,1045.191711,4.673397,6.134271,189.430354,-1.752031,-76.610541,NaN,...,NaN,9.648911,37.159908,44.313096,62.366876,66.920357,69.022386,78.705150,5.938857,6.278951
8,4,3320,-30259.177833,1049.325595,4.811804,9.493787,190.087935,-0.892252,-77.535472,NaN,...,NaN,12.483408,26.869013,37.935737,57.453777,60.074172,70.969650,76.072003,5.437511,8.431280
9,5,3320,-31166.384638,1050.337225,3.834288,6.131922,189.918814,-0.077096,-75.683444,NaN,...,NaN,6.349021,24.708386,31.974573,49.554649,64.415250,61.765214,71.242815,7.470242,9.201597
10,1,3375,-32287.844856,1044.688963,3.905905,6.843811,192.592207,NaN,-76.853314,88.815063,...,NaN,33.404528,43.976695,56.821797,58.185998,72.383839,77.479499,2.253515,4.164326,10.363826
11,2,3375,-31107.140848,1047.267348,4.217841,7.948478,194.680297,NaN,-76.198872,88.598531,...,NaN,36.443523,35.782090,53.350839,67.240178,75.125799,75.183274,4.229791,5.965350,5.354830
12,3,3375,-29704.378853,1044.322301,4.684684,6.085188,189.447674,NaN,-76.608362,82.498135,...,NaN,37.193914,44.227843,62.423319,66.884083,68.955492,78.675012,1.709289,6.066273,6.328970
13,4,3375,-30300.932060,1045.999395,4.788638,9.493538,190.110384,NaN,-77.539725,83.026693,...,NaN,26.972075,37.939071,57.949941,60.348915,71.059212,76.192151,6.606821,5.474189,8.551400
14,5,3375,-31158.749505,1049.223815,3.826827,6.112719,189.912754,NaN,-75.687547,81.291673,...,NaN,24.794121,32.028240,49.699503,64.556226,61.823467,71.282043,2.160707,7.454410,9.245904

In [8]:
best_mean_MSE_v3_f8

      Combination ID  Negative MSE
2583            2584 -30906.928043
3319            3320 -30911.544755
3374            3375 -30911.809224

In [9]:
included_v3_f8

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
1,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
2,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
3,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
4,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
10,1,1,1,0,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
11,1,1,1,0,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
12,1,1,1,0,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
13,1,1,1,0,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
14,1,1,1,0,1,1,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1

### v4_f8

In [6]:
best_v4_f8, best_mean_MSE_v4_f8, included_v4_f8 = top_n_per_fold(df = df_v4_f8, source_combinations = ['Combination ID'], n = my_n)
best_v4_f8

,Fold,Combination ID,Negative MSE,Intercept,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1628,-31969.994546,1048.004741,15.571129,6.725262,192.403506,NaN,-76.853825,NaN,...,NaN,0.084982,12.752854,33.724435,43.864739,57.009358,58.036851,71.820866,77.365871,10.268688
1,2,1628,-30989.188621,1052.049583,17.286066,7.885393,194.462498,NaN,-76.032252,NaN,...,NaN,-3.958306,17.175279,36.541207,37.107134,52.598833,67.037870,76.105559,75.317761,5.279194
2,3,1628,-29471.191258,1047.862359,16.521315,5.934324,189.270879,NaN,-76.554860,NaN,...,NaN,-3.885292,9.869148,38.152362,45.045626,62.599063,66.851600,69.649448,78.617878,6.454993
3,4,1628,-30030.195941,1051.288291,16.622673,9.581134,189.893570,NaN,-77.338805,NaN,...,NaN,-8.944045,14.077255,28.024515,38.821150,58.516561,61.312926,71.903517,76.470039,8.230315
4,5,1628,-30868.539917,1053.618205,16.069590,6.091177,189.833197,NaN,-75.868253,NaN,...,NaN,-7.583661,7.360540,26.280416,32.798866,49.723239,65.136106,62.631583,71.830085,8.970778
5,1,2584,-31951.671340,1045.884728,15.557966,6.749138,192.438398,NaN,-76.844301,NaN,...,NaN,12.975089,33.845009,43.941434,56.910439,58.193919,71.870787,77.504491,3.980806,10.257831
6,2,2584,-30984.052053,1049.151562,17.256409,7.886867,194.499557,NaN,-76.060620,NaN,...,NaN,17.399771,36.501712,37.177273,52.525983,67.142076,76.032573,75.320398,5.582897,5.299355
7,3,2584,-29463.330345,1044.901474,16.458287,5.985155,189.327712,NaN,-76.527398,NaN,...,NaN,10.143302,38.411562,45.294660,62.619919,67.045235,69.782556,78.806132,5.352270,6.446932
8,4,2584,-30019.725364,1048.602588,16.587481,9.628081,189.905889,NaN,-77.325854,NaN,...,NaN,14.290311,28.155008,38.933967,58.461252,61.563264,71.955169,76.656757,5.014841,8.232815
9,5,2584,-30884.413576,1049.873236,16.011337,6.125850,189.859601,NaN,-75.817423,NaN,...,NaN,7.670733,26.399769,32.986053,49.649131,65.469561,62.749974,71.880470,6.922766,9.015495
10,1,3320,-31951.048726,1045.891054,15.552526,6.746559,192.414961,-0.789442,-76.842117,NaN,...,NaN,12.934995,33.849787,43.973243,56.902800,58.222390,71.919626,77.502288,3.946943,10.247560
11,2,3320,-30988.979874,1049.132969,17.254784,7.885719,194.505473,0.432431,-76.059668,NaN,...,NaN,17.445254,36.493994,37.168783,52.536961,67.112932,76.010792,75.312552,5.613202,5.320397
12,3,3320,-29480.598558,1044.915171,16.479394,6.036959,189.296323,-1.958374,-76.541735,NaN,...,NaN,10.100648,38.409124,45.408093,62.621179,67.213769,69.907962,78.854931,5.211617,6.417498
13,4,3320,-30023.916908,1048.601573,16.613603,9.625209,189.870680,-1.303181,-77.308578,NaN,...,NaN,14.212740,28.198139,39.016205,58.451092,61.660166,72.062143,76.701049,4.950575,8.190439
14,5,3320,-30882.786809,1049.871454,16.015057,6.130271,189.850838,-0.313392,-75.815441,NaN,...,NaN,7.656300,26.404739,32.994868,49.647598,65.487232,62.780046,71.899704,6.912769,9.006464

Features *excluded* in the best model trained with function 8, dataset v4:
1. Numerical: *year_built*
2. Boolean: *is_furnished, accepts_pets*
3. Categorical: *orientation, neighborhood*

In [7]:
best_mean_MSE_v4_f8

      Combination ID  Negative MSE
2583            2584 -30660.638536
3319            3320 -30665.466175
1627            1628 -30665.822057

In [8]:
included_v4_f8

,num_rooms,num_baths,square_meters,year_built,num_crimes,is_furnished,has_pool,has_ac,accepts_pets,orientation_north,...,neighborhood_Sarri√†-Sant Gervasi,floor_10,floor_2,floor_3,floor_4,floor_5,floor_6,floor_7,floor_8,floor_9
0,1,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
1,1,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
2,1,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
3,1,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
4,1,1,1,0,1,0,0,1,0,0,...,0,1,1,1,1,1,1,1,1,1
5,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
6,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
7,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
8,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
9,1,1,1,0,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
10,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
11,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
13,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1
14,1,1,1,1,1,0,1,1,0,0,...,0,1,1,1,1,1,1,1,1,1

## Overall conclusions
We can start by creating a data frame which compares the inclusion of features in the different results of datasets and functions.

In [194]:
# We create a data frame with the different number of inclusions
overall_inclusion = pd.DataFrame(data = total_inclusions_v1_f1, columns = ['num_inclusions_v1_f1'])
overall_inclusion = overall_inclusion.join(pd.DataFrame(total_inclusions_v1_f3, columns = ['num_inclusions_v1_f3']))
overall_inclusion = overall_inclusion.join(pd.DataFrame(total_inclusions_v3_f4, columns = ['num_inclusions_v3_f4']))

# We add a column with the mean number of inclusions
overall_inclusion['mean_n_inclusions'] = round((overall_inclusion['num_inclusions_v1_f1'] + overall_inclusion['num_inclusions_v1_f3'] + overall_inclusion['num_inclusions_v3_f4']) / 3, 2)

overall_inclusion

,num_inclusions_v1_f1,num_inclusions_v1_f3,num_inclusions_v3_f4,mean_n_inclusions
num_rooms,0,15,15,10.00
num_baths,15,15,15,15.00
square_meters,15,15,15,15.00
year_built,5,3,12,6.67
num_crimes,15,15,15,15.00
is_furnished,0,7,9,5.33
has_pool,5,15,6,8.67
has_ac,15,15,9,13.00
accepts_pets,0,4,9,4.33
orientation_north,0,8,9,5.67
orientation_south,0,10,12,7.33
orientation_west,0,5,12,5.67
neighborhood_Eixample,0,7,3,3.33
neighborhood_Gr√†cia,0,13,12,8.33
neighborhood_Horta,0,14,15,9.67
neighborhood_Les Cors,0,13,12,8.33
neighborhood_Nou Barris,0,11,3,4.67
neighborhood_Sant Andreu,0,10,15,8.33
neighborhood_Sant Mart√≠,0,11,15,8.67
neighborhood_Sants,0,15,3,6.00
neighborhood_Sarri√†-Sant Gervasi,0,15,15,10.00
floor_2,15,15,15,15.00
floor_3,15,15,15,15.00
floor_4,15,14,15,14.67
floor_5,15,15,15,15.00
floor_6,15,15,15,15.00
floor_7,15,15,15,15.00
floor_8,15,15,15,15.00
floor_9,15,15,12,14.00
floor_10,15,15,15,15.00

Take into account that the maximum number of inclusions is the number of top combinations selected times the number of folds (5 folds). So if 3 combinations have been selected, the max number of inclusions is 3 * 5 = 15.

In [195]:
# We can sort the data frame by the mean number of inclusions
overall_inclusion.sort_values('mean_n_inclusions', ascending = False)

,num_inclusions_v1_f1,num_inclusions_v1_f3,num_inclusions_v3_f4,mean_n_inclusions
num_baths,15,15,15,15.00
square_meters,15,15,15,15.00
num_crimes,15,15,15,15.00
floor_8,15,15,15,15.00
floor_6,15,15,15,15.00
floor_2,15,15,15,15.00
floor_10,15,15,15,15.00
floor_5,15,15,15,15.00
floor_3,15,15,15,15.00
floor_7,15,15,15,15.00
floor_4,15,14,15,14.67
floor_9,15,15,12,14.00
has_ac,15,15,9,13.00
num_rooms,0,15,15,10.00
neighborhood_Sarri√†-Sant Gervasi,0,15,15,10.00
neighborhood_Horta,0,14,15,9.67
has_pool,5,15,6,8.67
neighborhood_Sant Mart√≠,0,11,15,8.67
neighborhood_Sant Andreu,0,10,15,8.33
neighborhood_Les Cors,0,13,12,8.33
neighborhood_Gr√†cia,0,13,12,8.33
orientation_south,0,10,12,7.33
year_built,5,3,12,6.67
neighborhood_Sants,0,15,3,6.00
orientation_west,0,5,12,5.67
orientation_north,0,8,9,5.67
is_furnished,0,7,9,5.33
neighborhood_Nou Barris,0,11,3,4.67
accepts_pets,0,4,9,4.33
neighborhood_Eixample,0,7,3,3.33